@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('/public/fonts/Roboto-Light.ttf') format('ttf');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('/public/fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('/public/fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-display: swap;
}


@layer components {
    .button-cta {
        @apply text-xl text-green-dark py-3 px-4 rounded-2xl border-grey-dark text-white border-2;
        @apply transition bg-grey-light hover:bg-grey-dark hover:text-green hover:border-grey-light;
    }

    .wrapper {
        @apply bg-grey-dark text-white py-3 md:py-4 px-3 md:px-6 space-y-4 rounded-lg;
    }

    .input-field {
        @apply text-2xl px-4 py-3 rounded-lg outline-none border-2 border-grey-dark;
    }
}